@charset "utf-8";
*{margin: 0;padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{font-family: 'Noto Sans KR', sans-serif;}
/* 레이아웃 */
#header{width: 100%;height: 735px;background: url(../kohi_files/img/main1.gif) no-repeat center top;overflow: hidden;}
#section{width: 100%;height: 1050px;}
#footer{width: 100%;height: 200px;}

/* 공통속성 */
.container{width: 1280px;margin: 0 auto;height: inherit;}
.part1{width: 100%;margin: 0 auto;height: 525px;background-color: #fff;position: relative;}
.part2{width: 100%;margin: 0 auto;height: 525px;background-color: #f9f9f9;position: relative;}
.content{width: 1280px;margin: 0 auto;height: 525px;position: relative;}
.content2{width: 1280px;margin: 0 auto;height: 525px;position: relative;}
.f-cont{width: 100%;height: 69px;margin: 0 auto;position: relative;background-color: #fff;border-top: 2px solid #000;}
.f-cont2{width: 100%;height: 131px;margin: 0 auto;position: relative;background-color: #f9f9f9;}

/* 헤더영역 */
.menu{position: absolute;top: 0;right: 398px;}

.header{width: 100%;height: 44px;position: absolute;background: rgba(0,0,0,.8);top: 0;left: 0;border-bottom: 1px solid rgba(255, 255, 255, 0.1);z-index: 5;}
.header>ul{float: right;position: relative;}
.header>ul>li{float: left;}
.header>ul>li>a{color: #fff;font-size: 15px;padding: 10px;}
.header>ul>li>a>span{color: #fff;display: block;padding: 7px 12px;font-size: 15px;}
.header>ul>li>a>img{}
.header>ul>li.menu1{margin: 7.5px 0 0 0;}
.header>ul>li.menu2{margin: 13px 0 0 0;}
.header>ul>li.menu3{margin: -17px 9px 0 0;}
.header>ul>li.menu4{margin: -28px 18px 0 0;}
.header>ul>li.menu4 span{font-size: 1.8em;color: #e4e4e4;}
.header>ul>li.menu5{margin: 21px 22px 0 0;width: 14px;height: 2px;background-color: #e4e4e4;}
.header>ul>li.menu6{margin: 5.5px 0 0 0;border: 1px solid #fff;border-radius: 15px;width: 90px;height: 30px;}
.header>ul>li.menu6>a{display: block;margin: -6px 0 0 2px;float: left;font-size: 14px;}
.header>ul>li.menu6>a>img{display: block;margin: 2px 9px 0 0;float: left;}
.header>ul>li.menu7{margin-left: 20px;margin-top: 12px;}
.header>ul>li.menu7>a{font-weight: 500;font-size: 15px;}


.header2{width: 100%;height: 112px;background: rgba(0,0,0,.8);top: 45px;position: absolute;left: 0;z-index: 5;}
.header2 .img1{margin: 27px 0 0 700px;display: block;position: absolute;}
.header2>.gnb>.nav{float: left;width: 730px;height: 0 auto;margin-left: 860px;}
.header2>.gnb>.nav>li{float: left;}
.header2>.gnb>.nav>li>.menudepth{position: absolute;}
.header2>.gnb>.gnb-bg{width: 100%;height: 321px;background-color: #f9f9f9;position: absolute;top: 112px;border-bottom: 2px solid #000;display: none;}
.header2>.gnb>.gnb-bg>h2{display: block;position: absolute;width: 463px;height: 316px;top: 2px;left: 390px;}
.header2>.gnb:hover>.gnb-bg{display: block;}
.header2>.gnb>.nav>li>.menudepth>li{float: left;}
.header2>.gnb>.nav>li>.menudepth>li>a{display: block;}
.header2>.gnb>.nav>li>.menudepth>li:hover>a{display: block;text-decoration: underline #fff;}
.header2>.gnb>.nav>li>.menudepth>li>a>span{display: block;color: #fff;padding: 40px 28px;font-size: 19.5px;}
.header2>.gnb>.nav>li>.menudepth>li>ul{display: none;border-left: 1px solid #ccc;height: 320px;margin-top: 4px;}
.header2>.gnb>.nav>li>.menudepth>li:hover>ul{display: block;background-color: #fff;}
.header2>.gnb:hover>.nav>li>.menudepth>li>ul{display: block;}
.header2>.gnb>.nav>li>.menudepth>li>ul>li{text-align: left;padding: 8px;margin: 0 10px;}
.header2>.gnb>.nav>li>.menudepth>li>ul>li:first-child{padding-top: 15px;}
.header2>.gnb>.nav>li>.menudepth>li>ul>li>a{color: #666;font-weight: 500;font-size: 1.1em;}
.header2>.gnb>.nav>li>.menudepth>li>ul>li>a:hover{text-decoration: underline #000;color: #000;}

.header2>.gnb>.nav>li.img2{margin: 41px 0 0 0;float: right;}
.header2 .logo>a{position: absolute;top: 21px;left: 310px;width: 356px;height: 64px;background: url(../kohi_files/img/logo_m.png) no-repeat;}


/* 헤더 컨텐츠 */
.sub{}
.sub>h1{background: url(../kohi_files/img/btn_quick.png)no-repeat center center;width: 76px;height: 27px;position: absolute;top: 518px;left: 922px;}
.sub>h1>img{margin: 12px auto;display: block;}
.sub .subbox{width: 1280px;height: 190px;position: absolute;margin: 0 auto;top: 545px;}
.sub .subbox .box1{width: 377px;height: 190px;background-color: #be2d31;}
.sub .subbox .box1 .box1-1{width: 320px;height: 156px;position: absolute;padding: 28px 20px 29px 20px;color: #fff;}
.sub .subbox .box1 .box1-1 h1{font-size: 1.8em;font-weight: 700;float: left;margin-top: -3px;}
.sub .subbox .box1 .box1-1 h2{height: 39px;background-color: black;box-sizing: border-box;border-radius: 35px;float: right;text-align: center;margin: -3px -10px 0 0;}/*letter-spacing: -2px;*/
.sub .subbox .box1 .box1-1 h2>a{float: left;font-size: 1.4em;font-weight: 500;color: #fff;padding: 5px 7px 5px 15px;}
.sub .subbox .box1 .box1-1 h2>a>img{float: right;padding: 3px;margin: 2px 0 0 10px;}
.sub .subbox .box1 .box1-1 ul{position: absolute;top: 75px;width: 340px;}
.sub .subbox .box1 .box1-1 ul li{width: 163px;height: 43px;display: inline-block;text-align: center; box-sizing: border-box}
.sub .subbox .box1 .box1-1 ul li:hover>a{font-weight: bold;}
.sub .subbox .box1 .box1-1 ul li:first-child{margin-right: 6px;margin-bottom: 6px;}
.sub .subbox .box1 .box1-1 ul li:last-child{margin-left: 6px;}
.sub .subbox .box1 .box1-1 ul li a{display: block;font-size: 1.5em;font-weight: 400;color: #fff; padding-top:5px;position: relative; box-sizing:border-box;}
.sub .subbox .box1 .box1-1 ul li a:before{content:""; width: 163px; height: 43px; border: 1px solid #fff; position: absolute; top: 0; left: 0;  box-sizing: border-box;}
.sub .subbox .box1 .box1-1 ul li:hover a:before{content:""; width: 163px; height: 43px; border: 3.5px solid #fff; position: absolute; top: 0; left: 0; box-sizing: border-box;}


.sub .subbox .box2{width: 903px;height: 190px;background: rgba(0,0,0,.8);top: 0;left: 377px;position: absolute;}
.sub .subbox .box2 .box2-1{width: 883px;height: 148px;position: absolute;top: 35px;left: 10px;}
.sub .subbox .box2 .box2-1 ul{}
.sub .subbox .box2 .box2-1 ul li{float: left;width: 126px;height: 119px;text-align: center;}
.sub .subbox .box2 .box2-1 ul li a{display: block;color: #fff;font-size: 1.4em;font-weight: 400;}
.sub .subbox .box2 .box2-1 ul li a img{display: block;padding-bottom: 15px;padding-left: 23px;}

/* 화살표 */
.arrow{position: absolute;background: url(../kohi_files/img/arrow_main_prev.png) no-repeat center left;top: 400px;left: 230px;width: 40px;height: 73px;}
.arrow2{position: absolute;background: url(../kohi_files/img/arrow_main_next.png) no-repeat center left;top: 400px;right: 230px;width: 40px;height: 73px;}
 

/* 본문영역 */
/* 정보/소통 */
.content h1{width: 100%;text-align: center;font-size: 3em;font-weight: bold;color: black; position: relative;}
.content h1 span{text-align: center;color: #c42127;}
.content h1::after{content: ""; width: 150px; height: 1px; position: absolute; left: 50%; transform: translateX(-50%); background-color: black; top:0;}
.cont1{position: relative;top: 38px;left: 0;}
.cont1>.info1{width: 570px;height: 330px; background-color: white;position: relative; top: 61px;}
.cont1>.info1>.ifTitle{}
/* .cont1>.info1>.ifTitle>.if-tit{}
.cont1>.info1>.ifTitle>.if-tit>li{background-color: #fff;width: 156px;height: 46px;position: relative;float: left;border-radius: 35px;margin-right: 20px;text-align: center;}
.cont1>.info1>.ifTitle>.if-tit>.click{background-color: #c42127;}
.cont1>.info1>.ifTitle>.if-tit>li>a{color: #c42127;float: left;}
.cont1>.info1>.ifTitle>.if-tit>.click>a{color: #fff;float: left;} */
.cont1>.info1 .more{display: block;width: 65px;height: 22px;position: absolute;top: 15px;right: -10px;font-size: 14px;font-weight: bold;}


.cont1>.info1>.if-text1{}
.cont1>.info1>.if-text1>.more{display: block;width: 60px;height: 22px;position: absolute;right: 0;top: 0;}
.cont1>.info1>.if-text1>.if-text1-1{width: 570px;height: 180px;top: 78px;position: absolute;}
.cont1>.info1>.if-text1>.if-text1-1>li{margin: 5px 0;background: url();}
.cont1>.info1>.if-text1>.if-text1-1>li::after{margin: 5px 0;list-style: outside;color: #757575;top: 0;left: 0;position: absolute;}
.cont1>.info1>.if-text1>.if-text1-1>li>a{display: block;width: 420px;height: 36px;font-size: 15px;color: #757575;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;float: left;}
.cont1>.info1>.if-text1>.if-text1-1>li>span{font-size: 15px;color: #757575;float: right;}

.cont1>.info1>.if-text2{display: block;}
.cont1>.info1>.if-text2>.more{display: block;width: 60px;height: 22px;position: absolute;right: 0;top: 0;}
.cont1>.info1>.if-text2>.if-text2-1{width: 570px;height: 180px;top: 78px;position: absolute;display: none;}
.cont1>.info1>.if-text2>.if-text2-1>li{margin: 5px 0;}
.cont1>.info1>.if-text2>.if-text2-1>li>a{display: block;width: 420px;height: 36px;font-size: 15px;color: #757575;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;float: left;}
.cont1>.info1>.if-text2>.if-text2-1>li>span{font-size: 15px;color: #757575;float: right;}

.cont1>.info1>.if-text3{display: block;}
.cont1>.info1>.if-text3>.more{display: block;width: 60px;height: 22px;position: absolute;right: 0;top: 0;}
.cont1>.info1>.if-text3>.if-text3-1{width: 570px;height: 180px;top: 78px;position: absolute;display: none;}
.cont1>.info1>.if-text3>.if-text3-1>li{margin: 5px 0;}
.cont1>.info1>.if-text3>.if-text3-1>li>a{display: block;width: 420px;height: 36px;font-size: 15px;color: #757575;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;float: left;}
.cont1>.info1>.if-text3>.if-text3-1>li>span{font-size: 15px;color: #757575;float: right;}

.cont1>.info2{width: 678px;height: 330px;position: absolute;right: 0;top: 119px;}
.cont1>.info2>.if-pic{}
.cont1>.info2>.if-pic>ul{}
.cont1>.info2>.if-pic>ul>li{position: relative;width: 213px;height: 330px;float: left;margin-right: 16px;background-color: #fff;border: 1px solid #dee3eb;text-align: center;}
.cont1>.info2>.if-pic>ul>li:last-child{margin-right: 0;}
.cont1>.info2>.if-pic>ul>li>a{display: block;font-size: 2.3em;color: #333;font-weight: 400;font-family: 'Do Hyeon', sans-serif;}
.cont1>.info2>.if-pic>ul>li>a>img{padding-bottom: 10px;}
.cont1>.info2>.if-pic>ul>li>span{display: block;color: #757575;margin-top: 3px;width: 213px;height: 36px;font-size: 1.1em;}


/* 버튼 */
button{background-color: #fff;width: 150px;height: 46px;position: relative;float: left;border-radius: 35px;margin-right: 15px;text-align: center;top: 0;left: 0;}
button span{font-size: 18px;}
.notice-btn{left: 0;background-color: #c42127;color: #fff;cursor: default;font-weight: bold;}
.notice-btn.addbtn{background-color: #e8e8e8;color: #666666;cursor: pointer;}
.news-btn{left: 0px;background-color: #e8e8e8;color: #666666;cursor: default;}
.news-btn.addbtn{background-color: #c42127;color: #fff;cursor: pointer;font-weight: bold;}
.reference-btn{background-color: #e8e8e8;color: #666666;cursor: default;}
.reference-btn.addbtn{background-color: #c42127;color: #fff;cursor: pointer;font-weight: bold;}


/* 따라다니는 메뉴 */
.follow-btn{display: block;position: fixed;width: 50px;height: 50px;bottom: 250px;right: 220px;z-index: 10;}
.follow-btn2{display: block;position: fixed;width: 113px;height: 620px;bottom: 310px;right: 0px;z-index: 11;background-color: #000;border-radius: 30px 0 0 30px;}
.follow-btn2>ul{}
.follow-btn2>ul>li{height: 57px;width: 100%;margin: 20px 0 35px 20px;text-align: center;}
.follow-btn2>ul>li>a{color: white;}
.follow-btn2>ul>li>a>span{color: white;display: block;width: 113px;height: 24px;font-size: 15px;margin: -18px 0 0 -19px;font-weight: normal;padding: 5px 0;}
.follow-btn2>ul>li>a>img{display: block;padding: 25px;margin: 0;}
.follow-btn2>ul>li:last-child>a>img{margin-left: -15px;}

/* 홍보/알림 */
.content2 h1{width: 100%;text-align: center;font-size: 3em;font-weight: bold;color: black; position: relative;top: 40px;}
.content2 h1 span{text-align: center;color: #c42127;}
.content2 h1::after{content: ""; width: 150px; height: 1px; position: absolute; left: 50%; transform: translateX(-50%); background-color: black; top:0;}
.cont2{position: relative;top: 100px;left: 0;}
.cont2>.t1{width: 448px;height: 308px; background-color: #fff;float: left;border: 1px solid #ccc;box-sizing: border-box;}
.cont2>.t1>.gallery{width: 368px;height: 278px;padding: 28px 39px 0 39px;}
.cont2>.t1>.gallery>h2{font-weight: 400;font-family: 'Do Hyeon', sans-serif;font-size: 2.5em;}
.cont2>.t1>.gallery>ul{width: 100%;height: 180px;margin-top: 10px;}
.cont2>.t1>.gallery>ul>li{width: 165px;height: 180px;float: left;margin-right: 38px;}
.cont2>.t1>.gallery>ul>li:last-child{margin-right: 0;}
.cont2>.t1>.gallery>ul>li>a>span{display: block;width: 165px;height: 48px;overflow: hidden;margin-top: 5px;font-size: 15px;font-weight: bold;color: #666666;text-overflow: ellipsis;}
.cont2>.t1>.gallery>ul>li>a>img{width: 165px;height: 110px;}
.cont2>.t1>.gallery>.more{display: block;width: 65px;height: 22px;position: absolute;top: 40px;right: 865px;font-size: 16px;font-weight: bold;}

.part2 .cont2>.t2{width: 455px;height: 308px; background-color:#000;float: left;margin-left: 10px;}
.cont2>.t2>.play{}
.cont2>.t2>.play>.movie{}



.cont2>.t3{width: 355px;height: 308px; background-color: #fff(236, 182, 250);float: right;}
.cont2>.t3>.slideImg{width: 100%;height: 100%;overflow: hidden;position: relative;}
.cont2>.t3>.slideImg>ul{width: 100%;height: 100%;overflow: hidden;position: relative;}
.cont2>.t3>.slideImg>ul>li{position: absolute;width: 100%;height: 100%;top: 0;left: 0;line-height: 350px;text-align: center;}
.cont2>.t3>.slideImg>ul>li.slide1{background: url(../kohi_files/img/illust1.png) no-repeat 50% 50%/cover;z-index: 2;}
.cont2>.t3>.slideImg>ul>li.slide2{background: url(../kohi_files/img/illust3.png) no-repeat 50% 50%/cover;z-index: 1;}
.cont2>.t3>.slideImg>ul>li>a{display: block;width: 100%;height: 100%;}
.cont2>.t3>.slideImg>ul>li>a>h2{}
.cont2>.t3>.slideImg>ul>li>a>h2>span{}



/* 하단영역 */
.f1{width: 1280px;height: 69px;margin: 0 auto;}
.f1>ul{}
.f1>ul>li{float: left;text-align: center;width: 140px;margin-left: 2px;}
.f1>ul>li:first-child{margin-left: -15px;}
.f1>ul>li:nth-child(2){width: 100px;}
.f1>ul>li:nth-child(3){width: 150px;}
.f1>ul>li:nth-child(4){width: 120px;}
.f1>ul>li:last-child{width: 120px;}
.f1>ul>li>a{padding: 23px 0;display: block;font-size: 13px;position: relative; width: 100%;}
.f1>ul>li>a::after{content: ""; width: 1px; height: 15px; position: absolute; right: 0px;background-color: #333; top: 28px;}
.f1>ul>li:last-child>a::after{background: none;}
.f1>ul>li>a:first-child{padding-left: 0;font-size: 15px;}



.f_logo{padding: 41px 50px 41px 0;box-sizing: border-box;height: 131px;width: 286px;position: absolute;z-index: 4;left: 312px;}
.f_logo>img{float: left;width: 286px;height: 51px;}

.f2{width: 1280px;height: 131px;margin: 0 auto;}
.f2>footer{float: left;width: 994px;height: 131px;margin-left: 286px;}
.f2>footer>ul{}
.f2>footer>ul>li{margin: 30px 0 0 60px;line-height: 25px;}
.f2>footer>ul>li>a{display: block;width: 52px;height: 52px;position: absolute;top: 40px;right: 380px;float: left;}
.f2>footer>ul>li>a.f-sns{right: 450px;}
.f2>footer>ul>li>a.f-sns2{right: 522px;}
