/*!
 * Openworks4 CSS 및 테마 CSS 오버라이드
 */

/*!
  * Openworks4 CSS
  */
.op-validate {
    margin-top: 0;
    margin-bottom: 0;
}

.op-validate .list-group {
    margin-top: 3px;
    margin-bottom: 0;
}

.op-validate .list-group .list-group-item {
    padding: 2px 0 0 0;
    border: none;
}

.op-validate .list-group .list-group-item .validate-msg {
    color: #999;
    font-size: 11px;
}

.op-table-list>thead>tr>th {
    text-align: center;
    font-weight: bold;
    background-color: #8aa0a9;
    color: #FFFFFF;
}

input[type=file] {
    display: block;
    width: 100%;
    height: 30px;
    margin: 2px;
}

.opFileDownload {
    list-style: none;
}

/*!
 * 디자인 js api 관련
 */

/* 메시지 박스 크기 변경 */
.jGrowl .jGrowl-notification,.jGrowl .jGrowl-closer {
    width: 400px;
    font-size: 13pt;
    font-weight: bold;
}

/* 시스템 오류 메시지의 경우 패널크기를 크게함 */
.jGrowl .jGrowl-notification.growl-syserror {
    width: 700px;
    max-height:700px;
    overflow: scroll;
    background-color: #D65C4F;
}

/* select box 디자인 스크립트에서 생성되는 폼 hide */
.select2-hidden-accessible {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*!
 * 테마 오버라이드
 */
 
.user-menu .user-info {
    margin-left : 0px;
    padding: 10px 16px;
    display: block;
    float : none;
    font-size : 12pt;
    text-align: right;
}

code {
    font-size : 100%;
}

.page-title h3 {
    padding: 15px 0;
}

.page-info {
    padding: 15px 0;
    float: right;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
}

/* 페이징 부분이 다른 레이어 보다 뒤로 가도록 */
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
    {
    z-index: 1;
}

/* 마진 축소 */
.panel {
    margin-bottom: 10px;
}

/* 인용부 화면 하단 마진 조정 */
.callout {
    margin-bottom: 0px;
}

/* 패널 헤더 영역의 아이콘이 글자색과 동일하도록 조정 */
.panel-icons-group .btn-link {
    color: inherit;
}

/* 폼 그룹간 하단 마진 조정 */
.form-group {
    margin-bottom: 5px;
}

/* validate 오류시 해당 박스 테두리를 빨간색으로 설정 */
.validate-has-error {
    border-color: #E7804F;
}

/* validate 오류 폼 요소에 포커스시 해당 박스 테두리를 색을 설정 */
.validate-has-error:focus {
    border-color: #E7804F;
    box-shadow: 0px 2px 1px rgba(203, 208, 217, 0.08);
    box-shadow: 0 2px 1px rgba(203, 208, 217, 0.08);
    -webkit-box-shadow: 0px 2px 1px rgba(203, 208, 217, 0.08);
    -moz-box-shadow: 0px 2px 1px rgba(203, 208, 217, 0.08);
    -webkit-box-shadow: 0 2px 1px rgba(203, 208, 217, 0.08);
    -moz-box-shadow: 0px 2px 1px rgba(203, 208, 217, 0.08);
    -webkit-box-shadow: 0px 2px 1px rgba(203, 208, 217, 0.08);
}

.form-xs .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

#pagination-section {
  clear : both;
  position: relative;
  margin: 10px 0;
}

.movePage {
  padding: 0 0 30px 0;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
}

.movePage label span {
  display: inline-block;
  float: left;
  line-height: 13px;
  padding: 10px 0;
  margin-right: 12px;
  font-size: 12px;
}
.movePage label > input[type=text] {
  line-height: 1.42857143;
  height: 34px;
  padding: 7px 10px 8px 9px;
  width: 60px;
  color: #505050;
  outline: 0;
  font-weight: 400;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.help-line {
  margin: 5px 0 15px 0;
  padding: 15px;
  background-color: #f2f7f9; 
  border-left: 3px solid #eee; 
  border-color: #1992C2;
}

.help-line p {
  padding-left: 10px;
}

.help-line h5 {
  color: #1992C2; 
}

.panel .form-group:first-child, 
.well .form-group:first-child {
  margin-top: 0px;
}

.btn-xxs,
.btn-group-xxs > .btn {
  padding: 4px 8px 5px 8px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
}

#horLine {
    width: 90%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 6px 0 6px 0;
}

.mlgIem-list {
    list-style: none;
    margin : 0;
    padding : 0 20px 0 0;
}

.mlgIem-list > li{
    padding : 10px 0;
    border-bottom : 1px solid #e5e5e5;
}

.mlgIem-list > li .mlgIemInfo{
    padding-left: 15px;
    background-color: #fcfcfc;
}

.mlgIem-list > li .mapping-url:after{
    content: "";
    display: table;
    clear: both;
}

.mlgIem-list > li .mapping-url .parameter{
    margin : 5px;
}

.mlgIem-list > li .mapping-url .parameter > label{
    padding-left : 0px;
}

.mlgIem-list h6 {
    margin : 12px;
    float : left;
    font-size : 12px;
}

.mlgIem-list h6 span {
    font-weight : 500;
    color : #777;
}

.nav.nav-themes li {
    margin: 0 0 0 5px;
}

.nav.nav-themes li a {
    background-image: url(/resources/libs/amcharts-3.18.6/images/themes.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}

.nav.nav-themes li.am-theme-default a {
    background-position: 0 0;
}

.nav.nav-themes li.am-theme-patterns a {
    background-position: -33px -1px;
}

.nav.nav-themes li.am-theme-chalk a {
    background-position: -65px -1px;
}

.nav.nav-themes li.am-theme-dark a {
    background-position: -97px -1px;
}

.nav.nav-themes li.am-theme-light a {
    background-position: -129px -1px;
}

.nav.nav-themes li.am-theme-black a {
    background-position: -159px -1px;
}

.nav.nav-themes li a:hover,.nav.nav-themes li.active a {
    border: 2px solid #72acd9;
}

.nav.nav-themes li.am-theme-default a:hover,.nav.nav-themes li.am-theme-default.active a
    {
    background-position: -2px -2px;
}

.nav.nav-themes li.am-theme-patterns a:hover,.nav.nav-themes li.am-theme-patterns.active a
    {
    background-position: -34px -2px;
}

.nav.nav-themes li.am-theme-chalk a:hover,.nav.nav-themes li.am-theme-chalk.active a
    {
    background-position: -66px -2px;
}

.nav.nav-themes li.am-theme-dark a:hover,.nav.nav-themes li.am-theme-dark.active a
    {
    background-position: -98px -2px;
}

.nav.nav-themes li.am-theme-light a:hover,.nav.nav-themes li.am-theme-light.active a
    {
    background-position: -130px -2px;
}

.nav.nav-themes li.am-theme-black a:hover,.nav.nav-themes li.am-theme-black.active a
    {
    background-position: -160px -2px;
}

/* GPKI 인증화면 */
#embededlogin  {
    font-size: 12px;
}

#opLoadingOverlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#opLoadingOpacity {
    background-color: #2C3A3F;
    filter: alpha(opacity = 90);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: relative;
}

.op-spin {
    padding: 0px 15px;
    background-color: #3CA2BB;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 33.333%;
    width: 33.3333%;
}

.op-alert {
  padding: 13px 14px 14px 14px;
  margin-bottom: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-weight: 600;
  color: #426A7E;
  background-color: #F5FBFD;
  border-color: #C8DEE2;
}

