@charset "utf-8";
*{margin: 0;padding: 0;}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Middleschool_student';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* 스크롤바 */
body::-webkit-scrollbar{width: 12px;}
body::-webkit-scrollbar-thumb{background-color: rgb(221, 152, 86);border-radius: 50px;}
body::-webkit-scrollbar-track{background-color: #e4eee9;}

/* #wrap{width: 100%;height: 100%;margin: 0 auto;background-color: palegoldenrod;} */
/* #wrap{width: calc(1920px*6);height: 100%;margin: 0 auto;} */
#wrap{width: 100%;margin: 0 auto;height: 100%;position: relative;}

/* header */
#header{width: 100%;height: 1000px;position: relative;}
.title{width: 100%;height: 140px;position: absolute;z-index: 3;}
.title .tit-main{}
/* .title .tit-main>h3{width: 100px;height: 100px;background-color: #465cc0;position: absolute;top: 30px;left: 35%;z-index: 30;display: none;} */
.title .tit-main>h3{position: absolute;top: 30px;left: 35%;z-index: 30;display: none;font-family: 'GowunDodum-Regular';}
/* .title .tit-main:hover>h3{background: url(../img/btn-cookie.png) no-repeat 100% 100%/cover;display: block;} */
.title .tit-main:hover>h3{display: block;top: 160px;left: 40.5%;font-size: 18px;font-weight: bold;color: rgb(253, 211, 119);background-color: #333;padding: 2px 5px;}
.title .tit-main:hover h1 a{color: rgb(253, 211, 119);transition: .5s;}
.title .tit-main:hover h2{color: rgb(253, 211, 119);transition: .5s;}
.title .tit-main h1{text-align: center;font-size: 4em;font-weight: bold;font-family: 'Pacifico', cursive;position: absolute;top: 0;left: 39%;width: 185px;}
.title .tit-main h1 a{display: block;width: 260px;height: 110px;text-align: center;padding-top: 30px;padding-bottom: 10px;}
.title .tit-main h2{text-align: center;font-size: 1.3em;font-family: 'GowunDodum-Regular';font-weight: bold;position: absolute;top: 0;left: 40.5%;width: 210px;margin-top: 105px;}
.title>h3{text-align: left;margin-left: 60px;font-family: 'GowunDodum-Regular';font-weight: bold;font-size: 1.4em;color: #333;width: 180px;margin-top: 50px;}
.title>h4{transform: rotate(-90deg);position: absolute;top: 750px;left: -30px;width: 185px;height: 20px;font-size: 1.1em;z-index: 3;}


/* nav */
.nav-wrap{width: 200px;height: 100%;background-color: rgb(255, 230, 160);position: fixed;top: 0;right: 0;z-index: 3;}
.nav-wrap:hover{background-color: rgb(255, 230, 160);}
.nav{width: 90%;height: auto;position: absolute;top: 50px;right: 9px;}
.nav h3{font-family: 'GowunDodum-Regular';font-size: 1.5em;line-height: 1.5em;font-weight: bold;margin-left: 17%;color: #333;}
.nav ul{display: flex;width: 100%;height: 280px;justify-content: space-between;flex-direction: column;margin-top: 190px;}
.nav ul li{margin: 0 auto;}
.nav ul li a{font-weight: bold;font-size: 1.5em;font-family: 'GowunDodum-Regular';}
.nav ul li span{font-weight: bold;font-size: 1.5em;font-family: 'GowunDodum-Regular';}
.nav ul li:hover a{color: chocolate;}
.quick-toggle{width: 70px;height: 70px;border-radius: 50%;/*background-color: peru;*/position: fixed;top: 790px;left: 93%;z-index: 5;cursor: pointer;background: url(../img/btn-cookie.png) no-repeat center center /100%;}
.quick-toggle:hover>.txt-none{display: block;background-color: rgba(255, 255, 255, .4);color: #f00;font-weight: bold;width: 70px;height: auto;text-align: center;margin: 23px auto;border-radius: 10px;font-size: 17px;font-family: 'GowunDodum-Regular';}
.quick-toggle>.txt-none{display: none;}
/* mobile-nav */
.mobile-nav-wrap{width: 200px;height: 100%;background-color: rgba(255, 234, 143, .2);position: fixed;top: 0;right: 0;z-index: 3;display: none;}
.mobile-nav-wrap:hover{background-color: rgba(255, 234, 143, .4);}
.mobile-nav{width: 90%;height: auto;position: absolute;top: 50px;right: 9px;}
.mobile-nav h3{font-family: 'GowunDodum-Regular';font-size: 1.5em;line-height: 1.5em;font-weight: bold;margin-left: 17%;color: #333;}
.mobile-nav ul{display: flex;width: 100%;height: 280px;justify-content: space-between;flex-direction: column;margin-top: 200px;}
.mobile-nav ul li{margin: 0 auto;}
.mobile-nav ul li a{font-weight: bold;font-size: 1.5em;font-family: 'GowunDodum-Regular';}
.mobile-nav ul li:hover a{color: chocolate;}
.quick-toggle-mobile{width: 70px;height: 70px;border-radius: 50%;background: url(../img/btn-cookie.png) no-repeat center center /100%;position: fixed;top: 790px;left: 75%;display: none;z-index: 5;cursor: pointer;}
.quick-toggle-mobile:hover>.txt-none{display: block;background-color: rgba(255, 255, 255, .4);color: #f00;font-weight: bold;width: 70px;height: 100px;text-align: center;margin: 23px auto;border-radius: 10px;font-size: 17px;font-family: 'GowunDodum-Regular';}
.quick-toggle-mobile>.txt-none{display: none;}
/* header-section */
/* #header-section{width: 100%;height: auto;}
.graphic-box{width: 100%;height: 100%;}
.graphic-box .graphic{width: 52%;height: 52%;margin: 100px auto;border: 5px solid #444;position: absolute;top: 16%;left: 20%;z-index: 4;}
/* header-section background */
/*.swiper {width: 100%;height: 100%;position: absolute;}
.swiper-slide{width: 100%;height: 1000px;position: relative;max-width: 1920px;z-index: 0;}
.bg01{background-color: white;}
.bg02{background-color: rgb(233, 233, 233);}
.bg03{background-color: rgb(163, 163, 163);}
.bg04{background-color: rgb(133, 133, 133);}
.bg05{background-color: rgb(83, 83, 83);}
.bg06{background-color: rgb(61, 61, 61);}
.swiper-horizontal{}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,.swiper-pagination-fraction{width: 200px;left: 41%;bottom: 13%;}
.swiper-pagination-bullet{width: 10px;height: 10px;}
.swiper-pagination-bullet-active{background-color: orange;} */
#header-section{width: 100%;height: auto;}
#header-section>.header-section-container{width: 100%;height: 100%;}
/* #header-section>.header-section-container h1{font-size: 85px;font-family: 'Pacifico', cursive;display: block;}
#header-section>.header-section-container h1.main-ment1{position: absolute;top: 35%;left: 22%;z-index: 5;}
#header-section>.header-section-container h1.main-ment2{position: absolute;top: 50%;left: 56%;z-index: 5;} */
#header-section>.header-section-container>div{width: 58%;height: 53%;margin: 100px auto;position: absolute;top: 16%;left: 17%;z-index: 4;}
#header-section>.header-section-container>div>.main-show{position: relative;z-index: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;height: 100%;background-color: #fff;overflow: hidden;}
#header-section>.header-section-container>div>.main-show>.main-show-bg{position: absolute;z-index: -1;top: 0;left: 2%;width: 100%;height: 110%;background-image: url("../img/main-cookie.jpg");background-size: 80%;background-position: center center;-webkit-animation: move 10s infinite linear;animation: move 10s infinite linear;will-change: transform;}
.mask-container {position: relative;display: block;width: 110%;}
.mask-container::before, .mask-container::after {content: '';position: absolute;width: 5000%;height: 301%;left: 0;background-color: #fff;}
.mask-container::before {top: -310%;}
.mask-container::after {bottom: -295%;}
svg {width: 100%;height: 100%;}

@-webkit-keyframes move {
25% {
    -webkit-transform: translateY(-30px) translateX(-20px);
            transform: translateY(-30px) translateX(-20px);
}
50% {
    -webkit-transform: translateY(10px) translateX(20px);
            transform: translateY(10px) translateX(20px);
}
75% {
    -webkit-transform: translateY(-30px) translateX(-20px);
            transform: translateY(-30px) translateX(-20px);
}
}

@keyframes move {
25% {
    -webkit-transform: translateY(-30px) translateX(-20px);
            transform: translateY(-30px) translateX(-20px);
}
50% {
    -webkit-transform: translateY(10px) translateX(20px);
            transform: translateY(10px) translateX(20px);
}
75% {
    -webkit-transform: translateY(-30px) translateX(-20px);
            transform: translateY(-30px) translateX(-20px);
}
}
/* #header-section>.header-section-container>div>.main-show>ul{width: 100%;height: 100%;position: relative;top: 0;left: 0;z-index: 10;}
#header-section>.header-section-container>div>.main-show>ul>li{position: absolute;opacity: 0;}
#header-section>.header-section-container>div>.main-show>ul>li:first-child{opacity: 1;}
#header-section>.header-section-container>div>.main-show>ul>li>img{width: 70%;display: block;margin: 0 auto;} */

/* section common */
.content-tit{display: flex;justify-content: space-between;}
.content-tit h2{font-size: 40px;padding: 30px 60px;font-family: 'GowunDodum-Regular';font-weight: bold;}
.content-tit h2>a:hover{color: sienna;border-bottom: 3px dashed sienna;}
.content-wrap{width: 1350px;height: 600px;margin: 60px auto;display: flex;justify-content: space-between;}
.up{position: fixed;bottom: 150px;left: 70px;z-index: 10;text-align: center;width: 25px;height: 25px;line-height: 20px;display: none;}
.up>a{font-size: 23px;width: 35px;height: 25px;display: block;color: #050505;font-family: 'Pretendard-Regular';padding: 10px;}
.up:hover>a{font-size: 27px;color: #465cc0;border-top: 2px solid #465cc0;width: auto;width: 45px;}
/* section1 */
#section1{width: 100%;height: 1000px;position: relative;top: 0;left: 0;background: linear-gradient(to right, #eeeadc, #ffffff);}
.about-section{width: 100%;height: inherit;}
/* content01 */
.content01{width: 27%;height: inherit;background: url();}
.content01>ul{width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: space-between;margin: 0 auto;position: relative;}
.content01>ul>li:first-child{width: 260px;height: 260px;position: absolute;top: 0;left: 12%;border-radius: 50%;box-shadow: rgba(0, 0, 0, .2) 0px 4px 6px -1px, rgba(0, 0, 0, .2) 0px 2px 4px -1px;background: url(../img/about-profile.jpg) no-repeat center/cover;}
.content01>ul>li.cont-txt{width: 100%;height: 300px;position: absolute;bottom: 0;left: 0;}
.content01>ul>li.cont-txt h2{font-size: 33px;font-family: 'InkLipquid';color: #333;line-height: 38px;text-align: center;}
.content01>ul>li.cont-txt h2 span{font-size: 40px;color: orange;}
.content01>ul>li.cont-txt h3{font-size: 30px;color: #444;font-family: 'Middleschool_student';text-align: center;}
.content01>ul>li.cont-txt ul{margin: 8px auto;width: 100%;background-color: palegreen;height: auto;}
.content01>ul>li.cont-txt ul li{width: 29%;height: 34px;background-color: #fff;float: left;margin: 10px 7px;border-radius: 20px 0 20px;text-align: center;padding-top: 6px;box-shadow: rgba(0, 0, 0, .06) 0px 4px 6px -1px, rgba(0, 0, 0, .06) 0px 2px 4px -1px;}
.content01>ul>li.cont-txt ul li:hover{background-color: #ffcf67ec;color: #fff;}
.content01>ul>li.cont-txt ul li p{font-size: 18px;font-family: 'GowunDodum-Regular';}
/* content02 */
.content02{width: 33%;height: inherit;}
.content02 h3{font-size: 23px;font-weight: bold;margin-left: 20px;}
.content02 ul{width: 100%;height: auto;}
.content02 li{font-size: 17px;width: 350px;height: 40px;letter-spacing: 1px;font-weight: bold;color: #444;font-family: 'GowunDodum-Regular';}
.content02 span{font-size: 15px;display: block;font-weight: 600;color: #555;font-family: 'GowunDodum-Regular';margin-bottom: 10px;}
/* edu */
.education{width: 100%;height: 200px;}
.education ul{}
.education ul li{margin: 20px;}
.education ul li span{}
/* exp */
.experience{width: 100%;height: 200px;}
.experience ul{}
.experience ul li{margin: 20px;}
.experience ul li span{}
/* license */
.license{width: 100%;height: 200px;}
.license ul{width: 50%;height: 150px;float: left;margin-top: 15px;}
.license ul li{margin: 16px 20px;width: 100%;letter-spacing: 0;}
.license ul .ready{color: #000;border-bottom: 5px solid peachpuff;width: 157px;height: 19px;}
/* content03 */
.content03{width: 33%;height: inherit;}
.content03 h3{font-size: 23px;font-weight: bold;margin-bottom: 22px;}
.content03 li{font-size: 16px;width: 350px;height: 30px;letter-spacing: 1.5px;font-weight: bold;color: #444;font-family: 'GowunDodum-Regular';margin-top: 8px;}
.content03 span{font-size: 15px;display: block;font-weight: 600;color: #555;font-family: 'GowunDodum-Regular';}
/* skill */
.skills{width: 100%;height: auto;position: relative;top: 0;right: 0;}
.skill-bar{width: 400px;height: auto;display: flex;justify-content: space-between;margin: 22px 25px 22px 0;}
.skill-bar .progress_bar{position: relative;width: 300px;height: 20px;border: 2px solid #fff;border-radius: 50px;box-shadow: rgba(0, 0, 0, .2) 0px 4px 12px;}
.skill-bar .progress_bar h4{font-size: 13px;font-weight: bold;width: 80px;height: auto;position: absolute;top: 0;left: 0;}
.skill-bar .progress_bar .bar{position: absolute;left: 0;top:0;right: 0;bottom: 0;background: #fff;border-radius: 50px;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;width: 25px;}
.skill-bar .progress_bar .num{position: absolute;top: 2px;right: 5px;font-size: 12px;line-height: 14px;color: #000;display: none;}
#section1:hover .skill-bar .progress_bar .num{display: block;}
#section1:hover .skills .skill01 .progress_bar .bar{background: #8ce2ff; width: 270px;transition: .5s;}
#section1:hover .skills .skill02 .progress_bar .bar{background: #ffc3b9; width: 260px;transition: .5s;}
#section1:hover .skills .skill03 .progress_bar .bar{background: #e1a6f8; width: 200px;transition: .5s;}
#section1:hover .skills .skill04 .progress_bar .bar{background: #448149; width: 150px;transition: .5s;}
#section1:hover .skills .skill05 .progress_bar .bar{background: #4a7bb4; width: 280px;transition: .5s;}
#section1:hover .skills .skill06 .progress_bar .bar{background: #fdc958; width: 280px;transition: .5s;}
#section1:hover .skills .skill06 .progress_bar .bar{background: #fdc958; width: 280px;transition: .5s;}
/* section2 */
#section2{width: 100%;height: 1000px;background-color: #fff;position: relative;top: 0;left: 0;}
#section2>.project-section>.content-wrap{height: 650px;margin: 35px auto;}
.tab{width: 100%;height: 100%;}
.tab .tabs{width: 400px;height: 60px;text-align: center;margin: 0 auto;}
.tab .tabs ul{display: flex;}
.tab .tabs ul li{height: auto;margin: 0 auto;}
.tab .tabs ul li a{font-size: 20px;font-weight: bold;font-family: 'Pacifico', cursive;display: block;width: 150px;padding: 7px 15px;background-color: rgb(255, 255, 255);border-radius: 50px;border: 2px dashed #000;transition: .3s;}
.tab .tabs ul li.active a{background-color: rgb(255, 184, 51);border: 2px solid #000;}
.tab .tabs ul li:hover a{background-color: rgb(255, 184, 51);border: 2px solid #000;transition: .3s;}
/* web-mobile */
.panel h4{font-size: 16px;color: #333;text-align: center;padding-top: 10px;font-family: 'GowunBatang-Bold';}
.panel h4>a{color: indigo;font-weight: bold;}
.panel .web-mobile{width: 90%;height: 100%;margin: 0 auto;display: block;overflow: hidden;padding: 25px 0;}
.panel .web-mobile>ul{width: 200%;height: 100%;position: relative;left: 0;}
.panel .web-mobile>ul>li{width: 280px;height: 550px;background-color: white;box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.24) 0px 2px 3px;float: left;margin-left: 20px;box-sizing: border-box;overflow: hidden;}
.panel .web-mobile>ul>li .work{width: 100%;height: 100%;position: relative;}
.panel .web-mobile>ul>li .work1{background: url(../img/work1.jpg) no-repeat 100% 100%/cover;}
.panel .web-mobile>ul>li .work2{background: url(../img/work2.jpg) no-repeat 100% 100%/cover;}
.panel .web-mobile>ul>li .work3{background: url(../img/work3.jpg) no-repeat 100% 100%/cover;}
.panel .web-mobile>ul>li .work4{background: url(../img/work2.jpg) no-repeat 100% 100%/cover;}
.panel .web-mobile>ul>li .work .work-txt{position: absolute;width: 400px;height: 300px;top: 23%;left: 0;background-color: rgba(255, 255, 255,.8);color: #333;box-shadow: rgba(0, 0, 0, 0.12) 2px 1px 3px, rgba(0, 0, 0, 0.24) 2px 1px 3px;}
.panel .web-mobile>ul>li:hover .work .work-txt{background: linear-gradient(90deg, rgba(63, 63, 63, .1) 0%,rgba(255,255,255,0) 100%);color: #222;transition: .3s;height: 100%;top: 0;width: 500px;box-shadow: none;}
.panel .web-mobile>ul>li .work .work-txt h3{font-size: 19px;font-weight: bold;text-align: left;margin-left: 40px;margin-top: 25px;}
.panel .web-mobile>ul>li:hover .work .work-txt h3{margin-top: 25%;}
.panel .web-mobile>ul>li .work .work-txt>ul{width: 90%;height: 210px;position: absolute;bottom: 0;}
.panel .web-mobile>ul>li:hover .work .work-txt>ul{bottom: 100px;}
.panel .web-mobile>ul>li .work .work-txt>ul>li{text-align: left;margin-left: 40px;font-size: 16px;line-height: 32px;font-family: 'Pretendard-Regular';}
.panel .web-mobile>ul>li .work .work-txt>ul>li:first-child{font-size: 14px;}
.panel .web-mobile>ul>li .work .work-txt>ul>li>a{cursor: pointer;display: block;position: absolute;bottom: 25px;left: 40px;}
.panel .web-mobile>ul>li .work .work-txt>ul>li>a>.btn{cursor: pointer;display: block;width: 150px;height: 40px;background: none;border: 3px solid;border-image: linear-gradient(to right, #f5ca55be, #ff6fddaa, #ade8ffaa);border-image-slice: 1;font-size: 18px;color: #bd399e;font-family: 'GowunBatang-Bold';letter-spacing: 1px;box-sizing: border-box;font-family: 'Pretendard-Regular';line-height: 10px;}
.panel .web-mobile>ul>li:hover .work .work-txt>ul>li>a>.btn{transition: .3s;}
.panel .web-mobile>ul>li .work .work-txt>ul>li>a:hover>.btn{transition: .5s;background-color: #fff;}
/* graphic */
/* .panel .graphics{display:none;background-color: wheat;width: 450px;height: 600px;margin: 0 auto;}
.panel .graphics ul{width: 100%;height: 100%;overflow: hidden;margin-top: 30px;position: relative;}
.panel .graphics ul li{width: 450px;height: 600px;box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;position: absolute;top: 0;left: -100%;}
.panel .graphics ul li:first-child{left: 0;background-color: #c6e6b3;}
.panel .graphics ul li:nth-child(2){background-color: slateblue;}
.panel .graphics ul li:nth-child(3){background-color: goldenrod;}
.panel .graphics ul li a{}
.panel .graphics ul li a img{width: 95%;display: block;margin: 0 auto;} */
/* graphic */
.panel .graphics-box{display:none;width: 85%;height: 550px;margin: 0 auto;}
.panel .graphics-box>ul{width: 100%;height: 100%;overflow: hidden;margin-top: 30px;display: flex;justify-content: space-between;}
.panel .graphics-box>ul>li{width: 250px;height: 400px;box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;border-radius: 40px;opacity: .7;}
.panel .graphics-box>ul>li:hover{display: block;transform: scale(1.008);opacity: 1;}
.panel .graphics-box>ul>li>.graphics-txt{width: 245px;height: 100px;box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;border-radius: 10px;background-color: white;margin: 420px auto 0;display: block;opacity: .5;}
.panel .graphics-box>ul>li:hover>.graphics-txt{opacity: 1;}
.panel .graphics-box>ul>li>.graphics-txt>ul{width: 90%;height: auto;margin: 0 auto;}
.panel .graphics-box>ul>li>.graphics-txt>ul>li{text-align: center;line-height: 25px;font-size: 15px;font-family: 'GowunDodum-Regular';font-weight: bold;}
.panel .graphics-box>ul>li>.graphics-txt>ul>li:first-child{padding-top: 13px;}
.panel .graphics-box>ul>li>.graphics-txt>ul>li>span{color: #465cc0;}
.panel .graphics-box>ul>li:first-child{left: 0;background-color: #c6e6b3;background: url(../img/poster-design.jpg) no-repeat 100%/cover;}
.panel .graphics-box>ul>li:nth-child(2){background-color: slateblue;background: url(../img/poster-design.jpg) no-repeat 100%/cover;}
.panel .graphics-box>ul>li:nth-child(3){background-color: goldenrod;background: url(../img/poster-design.jpg) no-repeat 100%/cover;}
.panel .graphics-box>ul>li:nth-child(4){background-color: goldenrod;background: url(../img/poster-design.jpg) no-repeat 100%/cover;}
/* section3 */
#section3{width: 100%;height: 1000px;background-color: rgb(255, 251, 242);position: relative;top: 0;left: 0;}
.contact-div{display: flex;justify-content: space-between;width: 85%;margin: 0 auto;padding-top: 50px;}
.contact-div>div{}
/* contact-txtbox */
.contact-txtbox{width: 40%;}
.contact-txtbox>h3{font-size: 32px;padding: 5px;box-sizing: border-box;border: 1px solid #000;width: 220px;text-align: center;margin-bottom: 20px;font-family: 'Pretendard-Regular';}
.contact-txtbox>ul{position: relative;height: 450px;width: 90%;}
.contact-txtbox>ul>li{font-size: 25px;line-height: 70px;width: auto;}
.contact-txtbox>ul>li:nth-child(5){position: absolute;left: 220px;}
.contact-txtbox>ul>li>a{cursor: pointer;display: block;position: absolute;bottom: 0;}
.contact-txtbox>ul>li>a>button{cursor: pointer;display: block;width: 150px;height: 40px;background: none;border: 3px solid;border-image: linear-gradient(to right, #cc8830be, #fd2accaa, #65d3ffaa);border-image-slice: 1;font-size: 18px;color: #bd399e;font-family: 'Pretendard-Regular';letter-spacing: 1px;}
.contact-txtbox>ul>li>a:hover>button{background-color: #fff;transition: .5s;}
.contact-txtbox>ul>li>.contact-roll-wrap{position: relative;top: -70px;right: 0;}
.contact-txtbox>ul>li>.contact-roll-wrap>.contact-roll{}
.contact-txtbox>ul>li>.contact-roll-wrap>.contact-roll>li{position: absolute;top: 70px;width: 250px;color: rgb(255, 131, 29);font-weight: bold;}
/* contact-info */
.contact-info{width: 55%;display: flex;justify-content: space-between;}
.contact-info>ul{width: 49%;text-align: center;margin: 0 auto;}
.contact-info>ul>li{float: left;}
.contact-info>.info-pic{}
.contact-info>.info-pic>li{width: 400px;padding-top: 100px;}
.contact-info>.info-pic>li>img{width: 100%;display: none;}
.contact-info>.info{}
.contact-info>.info>li{width: 300px;line-height: 60px;font-family: 'Middleschool_student';font-size: 35px;margin-left: 50px;}
.contact-info>.info>li>img{width: 55%;padding-bottom: 50px;}
#section3 h4{font-size: 13px;color: slategrey;margin: 60px auto 0;width: 200px;text-align: center;}

/* section4 */
#section4{width: 100%;height: 1000px;background-color: rgb(243, 217, 255);position: relative;top: 0;left: 0;background-color: lightblue;}



/* footer */
#footer{width: 100%;height: 135px;background-color: #aeaeae;position: relative;top: -13.5%;left: 0;}
.footer-wrap{width: 80%;height: 90px;color: #fff;margin: 0 auto;}
.footer-wrap>ul{display: flex;justify-content: space-between;width: 800px;margin: 0 auto;}
.footer-wrap>ul>li{margin-top: 20px;font-size: 15px;}
.footer-wrap>address{margin: 10px auto;width: 100%;display: block;text-align: center;font-size: 14px;}

@media screen and (max-width: 1700px) {
    .title .tit-main h1{left: 37%;}
    .title .tit-main h2{left: 39%;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,.swiper-pagination-fraction{left: 39%;}
    .quick-toggle{left: 92%;}
}
@media screen and (max-width: 1500px) {
    .quick-toggle{left: 90%;}
}
@media screen and (max-width: 1200px) {
    .title .tit-main h1{left: 36%;}
    .title .tit-main h2{left: 38%;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,.swiper-pagination-fraction{left: 37%;}
    .quick-toggle{left: 88%;}
}
@media screen and (max-width: 1000px) {
    .title .tit-main h1{left: 34.5%;}
    .title .tit-main h2{left: 38%;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,.swiper-pagination-fraction{left: 35%;}
    .quick-toggle{left: 86%;}
}
@media screen and (max-width: 920px) {
    .title .tit-main h2{left: 38%;}
    .nav-wrap{background-color: rgba(255, 234, 143, 1);display: block;width: 180px;}
    .nav-wrap:hover{background-color: rgba(255, 234, 143, 1);}
    .nav h3{font-size: 1.3em;line-height: 1.6em;}
    .nav ul li a{font-size: 1.4em;}
    .graphic-box{display: none;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,.swiper-pagination-fraction{display: none;}
    .quick-toggle{left: 86%;}
}
@media screen and (max-width: 820px) {
    .title .tit-main h1{left: 30%;}
    .title .tit-main h2{left: 34%;}
    .quick-toggle{left: 84%;}
}
@media screen and (max-width: 720px) {
    .nav-wrap{width: 170px;}
    .quick-toggle{left: 82%;}
}
@media screen and (max-width: 600px) {
    .title .tit-main h1{left: 43%;}
    .title .tit-main h2{left: 48%;}
    .nav-wrap{display: none;}
}
@media screen and (max-width: 500px) {
    .title .tit-main h1{left: 8%;}
    .title .tit-main h2{left: 13%;}
    .title h3{text-align: right;margin-left: 270px;font-size: 1.3em;width: 180px;}
    .title .tit-main:hover h1 a{color: rgb(255, 194, 61);background-image: none}
    .title .tit-main:hover h2{color: rgb(255, 131, 29)}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,.swiper-pagination-fraction{display: none;}
    .mobile-nav-wrap{background-color: rgba(255, 234, 143, 1);display: block;width: 170px;}
    .mobile-nav-wrap:hover{background-color: rgba(255, 234, 143, 1);}
    .mobile-nav h3{font-size: 1.3em;line-height: 1.6em;}
    .mobile-nav ul li a{font-size: 1.4em;}
    .quick-toggle-mobile{display: block;}
    .quick-toggle{display: none;}
}